body {
	font-family: 'Helvetica', 'Arial', Sans-Serif;
	text-align: center;
	user-select: none;
}

* {
	padding: 0;
	margin: 0;
}

#topbar {
	text-align: center;
	border-bottom: 1px solid lightgray;
	height: 100px;
	line-height: 100px;
	font-size: 50px;
	font-weight: 900;
}

#guesses {
	position: absolute;
	left: 50px;
	right: 50px;
}

.letter {
	border: 2px solid lightgray;
	margin: 2px;
	margin-top: 200px;
	width: 120px;
	height: 120px;
	line-height: 120px;
	display: inline-block;
	vertical-align: middle;
	font-size: 60px;
	font-weight: 700;
}

#keyboard, #EnterDelete {
	position: absolute;
	width: 100%;
}

#keyboard {
	bottom: 350px;
}

#EnterDelete {
	bottom: 200px;
}

.key {
	background-color: lightgray;
	margin: 2px;
	width: 96px;
	height: 112px;
	border-radius: 16px;
	line-height: 112px;
	display: inline-block;
	font-weight: bold;
}

.c {
	cursor: pointer;
}

.key.del, .key.enter {
	width: 136px;
}

.letter.guessed {
	border: 2px solid black;
}

.letter.correct {
	background-color: limegreen;
	border: 2px solid white;
	color: white;
}

#help {
	position: fixed;
	left: 20px;
	top: 20px;
	width: 52px;
	height: 52px;
	line-height: 52px;
	border: 2px solid black;
	border-radius: 28px;
}